<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842849884691-v2vglbebkr00kudfsgemmkhn1usu599g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842849884691-v2vglbebkr00kudfsgemmkhn1usu599g</string>
	<key>API_KEY</key>
	<string>AIzaSyCTHiFSsahOkZ8cwa7H0Hh7zSdOLYhBI5k</string>
	<key>GCM_SENDER_ID</key>
	<string>842849884691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>ititraining-1</string>
	<key>STORAGE_BUCKET</key>
	<string>ititraining-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842849884691:ios:a41f8220ac3b92b335fde6</string>
</dict>
</plist>